.Login-page {
    display: flex;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: #DBE1FF;
    box-sizing: border-box;
}

.MuiSvgIcon-root {
    width: 4rem !important;
    height: 3rem !important;
}

.Login {
    width: 25vw;
    height: 65vh;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    outline: 1px solid rgb(213, 176, 176);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login-heading {
    display: unset;
    text-wrap: wrap;
    flex-direction: row;
    margin: auto;
    box-sizing: border-box;
}

input,
button {
    width: 18vw;
    height: 6vh;
    font-size: 16px;
    box-sizing: border-box;
    margin: 1rem;
}

.log-button {
    width: 62%;
}

@media screen and (max-width:769px) {

    .log-sym {
        margin: 0px;
    }

    .Login {
        width: 90vw;
        height: 80vh;
    }

    input,
    button {
        width: 60vw;
        height: 5vh;
        font-size: 16px;
        box-sizing: border-box;
        margin: 0.5rem;
        border: 2px solid black;
    }

}